
<section class="container">

  <div class="photos">

        <% @photos.each do |photo| %>

        <div class="photo">


          <%= link_to photo_path(photo) do %>
              <%= image_tag photo.image_1.medium %>
          <% end %>

          <%= link_to photo.title, photo_path(photo) %>

        </div>

        <% end %>
      </div>

</section>
