.photos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .photo {
    max-width: 33.33%;
    opacity: 0;
    transition: all 0.5s;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom:100px;
    align-content: center;
    text-align: center;

    img {
      width:100%;
      margin-bottom: 10px;
      box-shadow: none;
      transition: box-shadow .5s,transform .5s;
      transform: translate(0,0);
    }
  }
}

.in-viewport .fadein {
  opacity: 1;
}

.photo:hover img {
  box-shadow: 0 12px 7px -7px rgba(0,0,0,.1);
  transform: translate(0,-5px);
}

.photo-show {
  display: flex;
  flex-wrap: wrap;
  opacity: 0;
  transition: all 0.5s;


  .photo-show-image {
    width:70%;
    text-align: center;
  }

  .photo-show-copy {
    width: 30%;
    padding-left:20px;

    p {
      padding-top:20px;
    }
  }
}


@media (max-width: 1030px) {

  .photos .photo {
    max-width: 50%;
  }
}

@media (max-width: 990px) {

  .photo-show {
    .photo-show-image {
      width:50%;
    }

    .photo-show-copy {
      width: 50%;
    }
  }
}

@media (max-width: 700px) {

  .photos {
    display: flex;
    flex-direction: column;
    align-items: center;

    .photo {
      max-width: 100%;
      opacity: 1;
      transition: all 0.5s;
      padding-left: 40px;
      padding-right: 40px;
      margin-bottom:100px;
      align-content: center;
      text-align: center;
    }
  }

  .photo-show {
    display: flex;
    flex-direction: column;
    align-items: center;

    .photo-show-image {
      width:100%;
    }

    .photo-show-copy {
      width: 100%;
      padding-left:0px;
      padding-top: 40px;
    }
  }
}

@media (max-width: 600px) {

  .photos {
    .photo {
      margin-bottom:40px;
    }
  }
}
